.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center; /*축이 세로로 바뀌었기 때문에 가운데 정렬하려면 align 써야함*/
}

.icon-row__icon i {
  font-size: 35px;
  color: #2e373e;
}
.icon-row__icon span {
  margin-top: 15px;
}
