.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /*box size를 변경하지 말라고 하는 것. 패딩등을 설정하면서 박스 자체 크기를 키워버리는 것을 막는 것*/
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e373e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__setting {
  width: 8px;
  height: 8px;
  background-color: tomato;
  border-radius: 4px;
  display: flex;
  color: rgba(121, 121, 121, 0);
  position: absolute;
  left: 30px;
  bottom: 23px;
}
